/* Центрирование контейнера */
.container {
    display: flex;
    flex-direction: column; /* Оставляем элементы в вертикальном положении */
    justify-content: center; /* Выравнивание по вертикали */
    align-items: center; /* Выравнивание по горизонтали */
    padding: 20px; /* Добавляем немного отступов */
    width: 100%;
    min-height: 100vh; /* Высота контейнера на всю высоту экрана */
  }
  
  .section {
    max-width: 1200px; /* Ограничиваем максимальную ширину секции */
    width: 100%; /* Ширина 100% от родительского контейнера */
    margin-bottom: 20px; /* Отступ снизу */
  }
  
  h1, h2, h3 {
    font-family: "Nunito", sans-serif;
    color: #0077fe;
  }

  h1{
    font-size: 40px;
    color: black;
    text-align: center; 
    margin-bottom: 30px;

  }

  h2{
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 10px;
    
  }

  h3{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }

 .p-img
 {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    color: orange;
 }
  
  .features-list, .steps-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .features-list li, .steps-list li {
    margin: 10px 0;
  }
  
  .image {
    max-width: 100%; /* Картинка будет адаптироваться под ширину экрана */
    height: auto; /* Пропорции изображения сохраняются */
    display: block;
    margin: 20px auto; /* Центрируем изображения */
  }
